<div class="detalle" id="detalle">
  <div class="row padding">
    <div class="col-md-6">
      <div class="card text-center">
        <img class="card-img-top" src="./assets/css/img/podaArboles3.jpg">
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">SERVICIOS DE MANTENIMIENTO DE JARDINES Y PISCINAS Y PUESTAS A PUNTO</h5>
        <h6 class="card-subtitle mb-2 text-muted">El adecuado mantenimiento de un jardín, requiere de conocimientos que garanticen su buen aspecto y las necesidades hídricas y abonados de cada especie que lo forma.</h6>
        <p class="card-text">SERVICIOS DE JARDINERÍA: <br>
            * Poda de arbustos, árboles y palmeras. <br>
            * Retirada de restos a vertedero <br>
            * Abonados <br>
            * Siembra y siega de céspedes <br>
            * Eliminación de malas hierbas <br>
            * Control y programación del riego automático <br>
            * Detección de plagas y aplicaciones fitosanitarias
        </p>
      </div>
    </div>
  </div>
</div>
